* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
main {
  margin-top: 54px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  aspect-ratio: 2/3;
}
