#Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1240px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

.logo > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 4rem;
}
